<div id="deliveryModal" class="modal hide" >
    <div class="modal-bg-right"></div>
    <div class="modal-inner">
        <span class="close"></span>
        <div class="form-left">
            <span>ЗАКАЗ И ДОСТАВКА</span>
            <img src="/theme/images/alarsin.png" alt=""/>
        </div>
        <div class="form-right">
            <h2>Как получить скидку:</h2>
            <p>При оформлении заказа на сайте  в поле Код скидки введите Код, указанный на обороте  листа назначений (бланка рецепта),
                выданного Вашим лечащим доктором,  и получите скидку 10 % вне зависимости от выбранного количества упаковок препарата АЛАРСИН. Данный код действует постоянно.
            </p>
            <p>
                При оформлении заказа без Кода скидки при покупке от 2 до 5 упаковок Вы получаете скидку 5 %.  При покупке более 5-ти единиц товара – 10 %, больше 20-ти единиц товара – 15 %.
            </p>
            <p>
                Купить препараты ALARSIN
            </p>
            <img src="/theme/images/delivery.png" alt=""/>
            <h2>Как доставляется Ваш заказ:</h2>
            <p>
                Доставка по Киеву осуществляется курьером на следующий день в случае оформления заказа до 18.00. Если заказ оформлен после 18.00, то Ваш заказ будет доставлен через день.
            </p>
            <p>
                Время доставки с 10:00 до 18:00 в будние дни.
            </p>
            <p>
                Доставка бесплатна при заказе 2 (двух) и более упаковок.
            </p>
            <p>
                Стоимость доставки - 20 грн. при заказе 1 (одной) упаковки
            </p>
            <p>
                Доставка по Киевской области и в другие регионы Украины осуществляется  службой экспресс доставки «Нова Пошта» по действующим тарифам с предоплатой заказа (безналичный расчет),
                или службой доставки «Укрпошта» по действующим тарифам с оплатой заказа при получении наложенным платежом.
            </p>
            <p>
                Отправка заказа осуществляется  на следующий день в случае оформления заказа до 18.00. Если заказ оформлен после 18.00, то Ваш заказ будет отправлен через день.
            </p>
            <p>
                Сроки доставки Вы можете проверить на сайтах служб доставки «Нова Пошта» и «Укрпошта».
            </p>
            <button type="submit" class="order-button">Оформить заказ</button>
        </div>
    </div>
</div>