<div id="successReviewModal" class="modal hide">
    <div class="modal-bg-right"></div>
    <div class="modal-inner">
        <span class="close"></span>
        <div class="form-left pink">
            <span>ОСТАВИТЬ ОТЗЫВ</span>
            <img src="/theme/images/moda-alarsin.png" alt=""/>
        </div>
        <div class="form-right">
            <h2>Ваш заказ принят</h2>
            <p>
                С Вами оперативно свяжется менеджер для<br />
                подтверждения заказа и уточнения условий доставки
            </p>
            <strong>Время работы в будние дни с 9:30 до 18:00</strong>
            <p class="faded">
                С уважением, команда обслуживания<br />
                ОРГАНИК ПРОДАКТС УКРАИНА
            </p>
            <img src="/theme/images/success-review-img.png" alt="Ваш заказ принят" align="left"/>
        </div>
    </div>
</div>