<div id="successReviewModal" class="modal hide">
    <div class="modal-bg-right"></div>
    <div class="modal-inner">
        <span class="close" data-dismiss="modal" aria-hidden="true"></span>
        <div class="form-left pink">
            <span>ОСТАВИТЬ ОТЗЫВ</span>
            <img src="/theme/images/moda-alarsin.png" alt=""/>
        </div>
        <div class="form-right">
            <div class="flag">
                <div class="flag__image">
                    <img src="/theme/images/success-review-img.png" alt="Ваш заказ принят"/>
                </div>
                <div class="flag__body" >
                    <h3>Спасибо за Ваш отзыв!</h3>
                    <p>
                        Ваш отзыв будет опубликован после
                        проверки модератором.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>