<!DOCTYPE html>
<html>
<head>
    <title>{$meta.title}</title>
    <meta charset="UTF-8" />
    <meta name="description" content="{$meta.description}"/>
    <meta name="keywords" content="{$meta.keywords}" />
    <meta name="robots" content="{$meta.robots}" />
    <!--[if lt IE 9]>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('hgroup');
    </script>
    <![endif]-->
	<link rel="shortcut icon" href="/favicon.png"/>
    <link rel="stylesheet" href="/theme/css/main.css"/>
    <!--[if IE 7]><link href="/theme/css/ie.css" rel="stylesheet" type="text/css" /><![endif]-->	
</head>
<body>
<div class="page-container">
    <div class="body">
        <header>
          <a href="/">
            <div class="logo">
                <div class="logo_title">
                    <h1>ЛЕПТАДЕН®</h1>
                </div>
                <div class="logo_description">
                    патентованное аюрведическое средство
                </div>
            </div>
          </a>
            <div class="title">
                <span>Быстрое улучшение лактации</span>
                <div class="advertising" itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
                    <h4 itemprop="name" class="hide">Alarsin</h4>
                    <img src="/theme/images/alarsin.png" alt="Alarsin"/>
                    <div class="advertising-text">лидер аюрведических исследований</div>
                </div>
            </div>
            <div class="phone">
                <img src="/theme/images/phone_icon.png" alt="phone"/>
                <span class="phone__number">044 587 98 77</span>
                <div class="social">
                    <img src="/theme/images/facebook.png" alt="facebook" class="fb"/>
                    <img src="/theme/images/vk.png" alt="vk"/>
                </div>
            </div>

            <button type="submit" class="order-button"><h3>Оформить заказ</h3></button>
            <button class="delivery-button"><h3>Заказ и доставка</h3></button>
            {include file="menu\main.html"}
            <div class="section-header-background"></div>
        </header>
        {block name="content"}{/block}
        {include file="modals/delivery.html"}
        {include file="modals/successOrder.html"}
        {include file="modals/order.html"}
    </div>
</div>
<script src="/theme/js/lib/jquery-1.9.1.js"></script>
<script src="/theme/js/lib/jquery-ui-1.10.3.custom.js"></script>
<script src="/theme/js/lib/jQuery.select.js"></script>
<script src="/theme/js/lib/jquery.transform.js"></script>
<script src="/theme/js/app.js"></script>
</body>
</html>