<!DOCTYPE html>
<html>
<head>
    <title>Лептаден</title>
    <meta charset="UTF-8" />
    <!--[if lt IE 9]>
    <script>
        document.createElement('header');
        document.createElement('nav');
        document.createElement('section');
        document.createElement('article');
        document.createElement('aside');
        document.createElement('footer');
        document.createElement('hgroup');
    </script>
    <![endif]-->
	<link rel="shortcut icon" href="/favicon.png"/>
    <link rel="stylesheet" href="/theme/css/main.css"/>
</head>
<body>
<div class="body">
    <header>
        <div class="logo">
            <div class="logo_title">
                <h1>ЛЕПТАДЕН®</h1>
            </div>
            <div class="logo_description">
                патентованное аюрведическое средство
            </div>
        </div>
        <div class="title">
            <span>Быстрое улучшение лактации</span>
        </div>
        <div class="social">
            <span><img src="/theme/images/facebook.png" alt="facebook"/></span>
            <span><img src="/theme/images/vk.png" alt="vk"/></span>
        </div>
        <div class="advertising" itemprop="manufacturer" itemscope itemtype="http://schema.org/Organization">
            <h4 itemprop="name" class="hide">Alarsin</h4>
            <img src="/theme/images/alarsin.png" alt="Alarsin"/>
            <div>лидер аюрведических исследований</div>
        </div>
        <div class="buy-button">
            <a href=""><span>Оформить заказ </span></a>
        </div>
        <nav>
            <ul>
                <li><a href="#breast_milk" class="active">Грудное молоко</a></li>
                <li><a href="#food">Питание при кормлении</a></li>
                <li><a href="#reduced_lactation">Снижение лактации </a></li>
                <li><a href="#improve_lactation">Как улучшить лактацию?</a></li>
                <li><a href="#leptaden">Лептаден</a></li>
                <li><a href="#all">Все продукты</a></li>
            </ul>
        </nav>
    </header>	
	{block name="content"}{/block}
</div>
<script src="/theme/js/lib/jquery-1.9.1.js"></script>
<script src="/theme/js/lib/jquery-ui-1.10.3.custom.js"></script>
<script src="/theme/js/lib/jquery.transform.js"></script>
<script src="/theme/js/app.js"></script>
</body>
</html>