{if $page == 'index'}
    {$mainurl = ''}
{else}
    {$mainurl = {urlbuilder section='main'}}
{/if}
<nav>
    <ul>
        <li><a href="{$mainurl}#breast_milk" class="active">Грудное молоко</a></li>
        <li><a href="{$mainurl}#food">Питание при кормлении</a></li>
        <li><a href="{$mainurl}#reduced_lactation">Снижение лактации </a></li>
        <li><a href="{$mainurl}#improve_lactation">Как улучшить лактацию?</a></li>
        <li><a href="{$mainurl}#leptaden">Лептаден</a></li>
        <li><a href="{$mainurl}#reviews">Отзывы</a></li>
        <li><a href="{urlbuilder section='drugstores'}">Аптеки</a></li>
    </ul>
</nav>
