{extends file="layouts/base.html"}
{block name="content"}
<section class="first" itemscope itemtype="http://schema.org/Drug">
    <div class="section-background"></div>
    <div class="question-area">
        <h3 itemprop="indication" itemscope itemtype="http://schema.org/TreatmentIndication"><span itemprop="name">Опасаетесь отсутствия молока или малого его количества?</span></h3>
        <h3 itemprop="indication" itemscope itemtype="http://schema.org/TreatmentIndication" class="marginRight"><span itemprop="name">У вас наступил лактационный криз?</span></h3>
        <h3 itemprop="indication" itemscope itemtype="http://schema.org/TreatmentIndication" class="marginRight"><span itemprop="name">Ваш малыш медленно прибавляет в весе?</span></h3>
    </div>
    <div class="text">
        <p>Восстанавливает нарушенную лактацию</p>
        <p>Увеличивает количество и улучшает качество грудного молока в более, чем 90% случаев*</p>
        <p>Стимулирует лактацию уже через 8 часов после приема препарата</p>
        <p>На 68% малыш быстрее прибавляет в весе*</p>
        <p>Натуральный ФИТО препарат</p>
        <p>Не содержит  аллергенов и не имеет побочных действий</p>
        <p>Рекомендовано применять с 1 дня родов</p>
        <cite>*согласно данным клинических испытаний </cite>
    </div>
    <img src="/theme/images/section_first.png" alt="ЛЕПТАДЕН"/>
</section>
<div id="accordion">
    <div class="section-header" data-hash="{$content.breast_milk.alias}">
        <h2>{$content.breast_milk.title}</h2>
        <div class="collapse-icon"></div>
        <div class="section-header-background"></div>
    </div>
    <div class="section-body breast_milk">
        <img class="left" src="/theme/images/breast_milk.png" alt="{$content.breast_milk.title}"/>
        <div class="text-section right" >
            {$content.breast_milk.text}
        </div>
    </div>

    <div class="section-header blue" data-hash="{$content.food.alias}">
        <div class="section-background"></div>
        <h2>{$content.food.title}</h2>
        <div class="collapse-icon white"></div>
        <div class="section-header-background"></div>

    </div>
    <div class="section-body food blue">
        <div class="text-section">
            {$content.food.text}
        </div>
        <img class="right" src="/theme/images/food.png" alt="Питание при кормлении грудью"/>
        <!--<div class="section-background bottom"></div>-->
    </div>

    <div class="section-header" data-hash="{$content.reduced_lactation.alias}">
        <div class="section-background header bottom"></div>
        <h2>{$content.reduced_lactation.title}</h2>
        <div class="collapse-icon"></div>
        <div class="section-header-background"></div>
    </div>
    <div class="section-body reduced_lactation">
        <img class="left" src="/theme/images/reduced_lactation.png" alt="{$content.reduced_lactation.title}"/>
        <div class="text-section right">
            {$content.reduced_lactation.text}
        </div>
    </div>

    <div class="section-header pink" data-hash="{$content.improve_lactation.alias}">
        <div class="section-background pink" ></div>
        <h2>{$content.improve_lactation.title}</h2>
        <div class="collapse-icon white"></div>
        <div class="section-header-background"></div>
    </div>
    <div class="section-body improve_lactation pink">
        <div class="text-section">
            {$content.improve_lactation.text}
        </div>
        <img class="right" src="/theme/images/improve_lactation.png" alt="Как улучшить лактацию?"/>
        <div class="section-background bottom"></div>
    </div>

    <div class="section-header leptaden-header" data-hash="{$content.leptaden.alias}" itemscope itemtype="http://schema.org/Product">
        <h2 itemprop="name">Лептаден®</h2><strong>{$content.leptaden.title}</strong>
        <div class="collapse-icon"></div>
        <div class="section-header-background"></div>
        <div class="section-background header bottom"></div>
    </div>
    <div class="section-body leptaden">
        <img class="left" src="/theme/images/leptaden.png" alt="{$content.leptaden.title}"/>
        <div class="text-section">
            {$content.leptaden.text}
            <button class="order-button"><h3>ОФОРМИТЬ ЗАКАЗ</h3></button>
            <button class="delivery-button"><h3>Заказ и доставка</h3></button>
        </div>
        <img src="/theme/images/landing-leptaden.png" alt="{$content.leptaden.title}"/>
    </div>

    <div class="section-header reviews-header blue" data-hash="reviews">
        <div class="section-background" ></div>
        <img src="/theme/images/review-icon.png" alt="Отзывы"/><h2>Отзывы</h2>
        <div class="collapse-icon white"></div>
        <div class="section-header-background"></div>
    </div>
    <div class="section-body reviews blue">
        <div class="review-section-wrapper">
            <div class="review-section">
                {foreach $reviews as $review}
                <div class="review" itemscope itemtype="http://schema.org/Review">
                    <img src="{$review.image}" alt="Отзыв"/>
                    <div  class="review-text" itemprop="description">
                        {$review.text}
                    </div>
                </div>
                {/foreach}
            </div>
        </div>
        <div class="review-more">
            <span>еще</span>
            <img src="/theme/images/review-more.png" alt="еще"/>
        </div>
        <button class="review-button"><h3>ДОБАВИТЬ ОТЗЫВ</h3></button>
    </div>

    <div class="section-header" data-hash="">
        <div class="section-background header bottom"></div>
        <h2>Вопрос/Ответ</h2>
        <div class="collapse-icon"></div>
        <div class="section-header-background"></div>
    </div>
    <div class="section-body">
    </div>

    <div class="section-header green" data-hash="{$content.guarantee.alias}">
        <div class="section-background" ></div>
        <h2 class="white">{$content.guarantee.title}</h2>
        <div class="collapse-icon white"></div>
        <div class="section-header-background"></div>
    </div>
    <div class="section-body green">
        <div class="text-section text--white" >
            {$content.guarantee.text}
        </div>
    </div>

</div>
<section id="all">
    <div class="section-body">
        <div class="section-background header bottom"></div>
        <h2>Здоровая мама, здоровый ребенок!</h2>
        <div class="brands">
            <img class="brand" src="/theme/images/brands.png" alt="Здоровая мама, здоровый ребенок!"/>
        </div>
        <div class="alarsin">
            <img src="/theme/images/all_alarsin.png" alt="Alarsin"/>
            <span>Лидер юрведичечских исследований</span>
        </div>
        <div class="contacts" itemprop="address" itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name">Эксклюзивный импортер продукции АЛАРСИН в Украине - ООО «Органик Продактс Украина»</span>
            <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">Адрес: Украина, 03186, г. Киев, ул. Авиаконструктора Антонова, д. 15-А</span>
                <span itemprop="telephone">Телефон: +38 (044) 587 95 77</span>
                <span itemprop="logo">www.alarsin.com.ua</span>
            </div>
        </div>
        <img class="right" src="/theme/images/all.png" alt="Здоровая мама, здоровый ребенок!"/>
    </div>
</section>
{/block}